@import 'base-style'

// Color Variable

$black: black
$white: #fff
$grey: #D1D1D1
$greyBold: #9C9C9C

// C'est parti !

*
  box-sizing: border-box
  font-family: 'Didact Gothic', sans-serif

.logo
  height: 100px
  width: 100px
  float: left

header
  position: relative
  padding: 10px 50px 60px 50px
.header__kicker
  max-width: 805px
  margin: 0 auto
  padding: 10px 0 0 20px
  h1, p
    text-transform: uppercase
    margin: 0
    transform: translate(5px,15px)
  p
    color: $grey
    margin: 0
.main_nav
  width: 100%
  position: absolute
  left: 0
  right: 0
  bottom: 0
  text-align: center
  background-color: $black
  padding: 5px 0
  &__item
    display: inline-block
    &:last-of-type a::after
      display: none
  &__link
    color: $white
    padding: 5px 15px
    display: block
    position: relative
    &::after
      content: ' '
      display: block
      width: 2px
      height: 18px
      background-color: $white
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)

.slider
  height: 550px
  max-width: 1100px
  background-color: $greyBold
  margin: 30px auto
  position: relative
  padding: 25px
  // overflow: hidden
  &__control
    position: absolute
    height: 70px
    width: 110px
    top: 50%
    transform: translateY(-50%)
    background-color: hotpink
    z-index: 9999
    cursor: pointer
    &--previous
      left: 10px
    &--next
      right: 10px
  &__slide
    height: 100%
    width: 100%
    left: 0
    top: 0
    z-index: 1
    margin: 30px
    padding: 30px
    &:nth-child(3)
      background-color: red
    &:nth-child(4)
      canvas
        border: 1px solid black
        height: 100%
        width: 100%
    &:nth-child(5)
      background-color: #2A2A31
    &--input
      position: relative
      form
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        textarea
          border: none
          max-width: 320px
          resize: none
          padding: 15px
          margin-top: 25px
          background-color: transparent
          transition: background-color 0.3s ease-in-out
          border-radius: 2px
          &:focus,
          &.has-value
            outline: none
            background-color: $white
        &::after
          content: attr(content)
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%)
          color: #fff
          font-size: 30px
          width: 100%
          text-align: center
          pointer-events: none


.input-group
  position: relative
  text-align: center
  margin: 0 auto
  max-width: 320px
  &__field
    padding: 15px 25px 15px 5px
    position: relative
    font-size: 18px
    border: none
    background-color: transparent
    border-bottom:  2px solid #A0DF6D
    transition: all 0.3s ease-in-out
    color: $white
    width: 100%
    &:focus + .input-group__label,
    &.has-value + .input-group__label
      bottom: 60px
      left: 0
      color: $white


  &__label
    position: absolute
    bottom: 15px
    left: 5px
    color: rgba($white,0.5)
    pointer-events: none
    transition: all 0.3s ease-out
    font:
      style: italic
      family: Georgia
