body { margin: 0; padding: 0; }

ul { list-style: none; margin: 0; padding: 0; }

h1 { font-size: 32px; }

h2 { font-size: 24px; }

p { font-size: 16px; }

a { text-decoration: none; }

input[type="text"]:focus, input[type="text"]:active { -webkit-box-shadow: none; box-shadow: none; outline: none; }

.clearfix::after, .clearfix::before { content: " "; display: table; }

.clearfix::after { clear: both; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'Didact Gothic', sans-serif; }

.logo { height: 100px; width: 100px; float: left; }

header { position: relative; padding: 10px 50px 60px 50px; }

.header__kicker { max-width: 805px; margin: 0 auto; padding: 10px 0 0 20px; }

.header__kicker h1, .header__kicker p { text-transform: uppercase; margin: 0; -webkit-transform: translate(5px, 15px); -ms-transform: translate(5px, 15px); transform: translate(5px, 15px); }

.header__kicker p { color: #D1D1D1; margin: 0; }

.main_nav { width: 100%; position: absolute; left: 0; right: 0; bottom: 0; text-align: center; background-color: black; padding: 5px 0; }

.main_nav__item { display: inline-block; }

.main_nav__item:last-of-type a::after { display: none; }

.main_nav__link { color: #fff; padding: 5px 15px; display: block; position: relative; }

.main_nav__link::after { content: ' '; display: block; width: 2px; height: 18px; background-color: #fff; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.slider { height: 550px; max-width: 1100px; background-color: #9C9C9C; margin: 30px auto; position: relative; padding: 25px; }

.slider__control { position: absolute; height: 70px; width: 110px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-color: hotpink; z-index: 9999; cursor: pointer; }

.slider__control--previous { left: 10px; }

.slider__control--next { right: 10px; }

.slider__slide { height: 100%; width: 100%; left: 0; top: 0; z-index: 1; margin: 30px; padding: 30px; }

.slider__slide:nth-child(3) { background-color: red; }

.slider__slide:nth-child(4) canvas { border: 1px solid black; height: 100%; width: 100%; }

.slider__slide:nth-child(5) { background-color: #2A2A31; }

.slider__slide--input { position: relative; }

.slider__slide--input form { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.slider__slide--input form textarea { border: none; max-width: 320px; resize: none; padding: 15px; margin-top: 25px; background-color: transparent; -webkit-transition: background-color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; border-radius: 2px; }

.slider__slide--input form textarea:focus, .slider__slide--input form textarea.has-value { outline: none; background-color: #fff; }

.slider__slide--input form::after { content: attr(content); position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); color: #fff; font-size: 30px; width: 100%; text-align: center; pointer-events: none; }

.input-group { position: relative; text-align: center; margin: 0 auto; max-width: 320px; }

.input-group__field { padding: 15px 25px 15px 5px; position: relative; font-size: 18px; border: none; background-color: transparent; border-bottom: 2px solid #A0DF6D; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: #fff; width: 100%; }

.input-group__field:focus + .input-group__label, .input-group__field.has-value + .input-group__label { bottom: 60px; left: 0; color: #fff; }

.input-group__label { position: absolute; bottom: 15px; left: 5px; color: rgba(255, 255, 255, 0.5); pointer-events: none; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; font-style: italic; font-family: Georgia; }
