body { position: relative; margin: 0; padding: 0; height: 100%; min-height: 100%; }

ul { list-style: none; margin: 0; padding: 0; }

h1 { font-size: 32px; }

h2 { font-size: 24px; }

p { font-size: 16px; }

a { text-decoration: none; }

input[type="text"]:focus, input[type="text"]:active { -webkit-box-shadow: none; box-shadow: none; outline: none; }

.clearfix::after, .clearfix::before { content: " "; display: table; }

.clearfix::after { clear: both; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; font-family: 'PT Sans', sans-serif; }

.logo { height: 100px; width: 100px; float: left; }

.main_nav--media, .main_nav--media--menu { display: none; }

header { position: relative; padding: 10px 50px 60px 50px; }

.header__kicker { max-width: 805px; margin: 0 auto; padding: 10px 0 0 20px; }

.header__kicker h1, .header__kicker p { text-transform: uppercase; margin: 0; -webkit-transform: translate(5px, 15px); -ms-transform: translate(5px, 15px); transform: translate(5px, 15px); }

.header__kicker p { color: #D1D1D1; margin: 0; }

.main_nav { width: 100%; position: absolute; left: 0; right: 0; bottom: 0; text-align: center; background-color: black; padding: 5px 0; }

.main_nav__item { display: inline-block; }

.main_nav__item:last-of-type a::after { display: none; }

.main_nav__link { color: rgba(255, 255, 255, 0.5); padding: 5px 15px; display: block; position: relative; -webkit-transition: color 0.3s ease-in-out; transition: color 0.3s ease-in-out; }

.main_nav__link:hover { color: #fff; }

.main_nav__link::after { content: ' '; display: block; width: 2px; height: 18px; background-color: #fff; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.slider { height: 750px; max-width: 1100px; background-color: #9C9C9C; margin: 70px auto; position: relative; overflow: hidden; }

.slider__control { position: absolute; font-size: 25px; top: 0; bottom: 0; z-index: 9999; cursor: pointer; color: #fff; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }

.slider__control--previous { padding: 15px 35px 15px 15px; text-align: center; left: 0px; }

.slider__control--previous:before { content: ' '; display: block; position: absolute; height: 100%; width: 100%; top: 0; left: 0; z-index: -1; opacity: 0; background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.3))); background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%); background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%); -webkit-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }

.slider__control--previous:hover:before { opacity: 1; }

.slider__control--next { padding: 15px 15px 15px 35px; right: 0px; text-align: right; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.slider__control--next:before { content: ' '; display: block; position: absolute; height: 100%; width: 100%; top: 0; left: 0; z-index: -1; opacity: 0; background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.3))); background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%); background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%); -webkit-transition: opacity 0.3s ease-in-out; transition: opacity 0.3s ease-in-out; }

.slider__control--next:hover:before { opacity: 1; }

.slider__slide { height: 100%; width: 100%; left: 0; top: 0; z-index: 1; position: absolute; }

.slider__slide:nth-child(4) canvas { border: 1px solid black; height: 100%; width: 100%; }

.slider__slide:nth-child(5) { background-color: #2A2A31; }

.slider__slide--input { position: relative; }

.slider__slide--input form { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.slider__slide--input form textarea { border: none; max-width: 320px; resize: none; padding: 15px; margin-top: 25px; background-color: transparent; -webkit-transition: background-color 0.3s ease-in-out; transition: background-color 0.3s ease-in-out; border-radius: 2px; }

.slider__slide--input form textarea:focus, .slider__slide--input form textarea.has-value { outline: none; background-color: #fff; }

.slider__slide--input form::after { content: attr(content); position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%); -ms-transform: translate(-50%); transform: translate(-50%); color: #fff; font-size: 30px; width: 100%; text-align: center; pointer-events: none; }

.input-group { position: relative; text-align: center; margin: 0 auto; max-width: 320px; }

.input-group__field { padding: 15px 25px 15px 5px; position: relative; font-size: 18px; border: none; background-color: transparent; border-bottom: 2px solid #A0DF6D; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; color: #fff; width: 100%; }

.input-group__field:focus + .input-group__label, .input-group__field.has-value + .input-group__label { bottom: 60px; left: 0; color: #fff; }

.input-group__label { position: absolute; bottom: 15px; left: 5px; color: rgba(255, 255, 255, 0.5); pointer-events: none; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; font-style: italic; font-family: Georgia; }

.slider__slide--presentation { background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 21, 38, 0.6)), to(rgba(71, 21, 38, 0.6))), url("../_sources/MaPhoto.jpg"); background-image: -webkit-linear-gradient(rgba(71, 21, 38, 0.6), rgba(71, 21, 38, 0.6)), url("../_sources/MaPhoto.jpg"); background-image: linear-gradient(rgba(71, 21, 38, 0.6), rgba(71, 21, 38, 0.6)), url("../_sources/MaPhoto.jpg"); background-position: 50%; background-size: cover; background-repeat: no-repeat; }

.presentation { position: relative; max-width: 400px; background-color: #AB2E4C; height: 100%; padding: 25px 15px; text-align: center; margin-left: 50px; color: #FDF8E3; }

.presentation__avatar { height: 100px; width: 100px; background-image: url("../_sources/MaPhoto.jpg"); background-repeat: no-repeat; background-size: cover; background-position: 50%; border-radius: 50%; margin: 0px auto; -webkit-box-shadow: 0 0 0 5px #471526, 0 0 0 10px #FDF8E3; box-shadow: 0 0 0 5px #471526, 0 0 0 10px #FDF8E3; }

.presentation__name h2 { font-size: 35px; margin-bottom: 0; font-family: 'Abril Fatface', serif; }

.presentation__name h2, .presentation__name p { line-height: 0.8; }

.presentation__name p { font-size: 14px; color: #471526; }

.presentation__text { text-align: left; line-height: 1.8; }

.presentation__text--emphase { color: #FDF8E3; font-weight: bold; }

.presentation__social { height: 100px; width: 100%; position: absolute; left: 0; right: 0; bottom: 15%; }

.presentation__social ul { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.presentation__social--item { display: inline-block; margin: 10px; }

.presentation__social--links { font-size: 26px; display: block; padding: 20px; color: rgba(253, 248, 227, 0.6); position: relative; -webkit-transition: color 0.3s ease-in-out; transition: color 0.3s ease-in-out; }

.presentation__social--links:hover { color: #FDF8E3; }

.presentation__hire-me { color: #471526; display: inline-block; padding: 25px 45px; background-color: #FDF8E3; position: relative; top: 130px; border-radius: 3px; -webkit-box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5); box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.5); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.presentation__hire-me:hover { -webkit-box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.4); box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.4); -webkit-transform: translate(0, -10px); -ms-transform: translate(0, -10px); transform: translate(0, -10px); }

.thumbnails__wrapper { max-width: 1100px; margin: 40px auto; text-align: center; }

.thumbnails__box { height: 300px; width: 355px; max-width: 355px; border: 1px solid black; position: relative; padding: 5px; }

.thumbnails__box:first-of-type { float: left; }

.thumbnails__box:nth-child(2) { display: inline-block; }

.thumbnails__box:last-of-type { float: right; margin: 0; }

.thumbnails__inner { height: 100%; background-image: url("http://fillmurray.com/350/350"); }

.thumbnails__label { width: 100%; height: 75px; background-color: black; padding-top: 25px; position: relative; }

.thumbnails__label::after { content: ' '; position: absolute; bottom: -15px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); border-left: 18px solid transparent; border-top: 15px solid black; border-right: 18px solid transparent; }

.thumbnails__label h3 { margin: 0; color: #fff; }

footer { min-height: 50px; position: absolute; bottom: 0; left: 0; right: 0; z-index: 10; background-color: black; color: #fff; padding: 10px; text-align: center; }

footer p { margin: 0; font-size: 15px; }

@media screen and (max-width: 1065px) { .thumbnails__box.thumbnails__box--media { margin-top: 20px; display: inline-block; float: none; } }

@media screen and (max-width: 320px) { .thumbnails__box.thumbnails__box--media { width: 310px; margin-top: 20px !important; float: none !important; } }

@media screen and (max-width: 500px) { .presentation { margin-left: 0; margin: 0 auto; } }

@media screen and (max-width: 585px) { .presentation { margin-left: 0; margin: 0 auto; } }

@media screen and (max-width: 585px) { .presentation { margin: 0 !important; } }

@media screen and (max-width: 320px) { .presentation__hire-me { top: 90px; }
  .presentation__social--item { margin: 0; }
  .presentation__social ul { top: 73%; } }

@media screen and (max-width: 352px) { .presentation__social--item { margin: 0; }
  .presentation__hire-me { top: 50px; } }

@media screen and (max-width: 564px) { .main_nav--media, .main_nav--media--menu { display: block; }
  .header__kicker { display: none; }
  nav.main_nav { display: none; }
  .main_nav--media.is_open { -webkit-transform: translateY(55px); -ms-transform: translateY(55px); transform: translateY(55px); }
  .main_nav--media { -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); position: fixed; top: 0; left: 0; right: 0; background-color: #fff; z-index: 5555; text-align: center; font-size: 28px; padding: 20px; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .main_nav--media__item { padding: 15px; }
  .main_nav--media__link { color: black; padding: 15px 25px; }
  .main_nav--media__link:after { display: none; }
  .main_nav--media--menu { position: fixed; z-index: 99999; top: 0; left: 0; width: 100%; background-color: #fff; height: 90px; padding: 20px; }
  .main_nav--media--menu .logo { height: 50px; width: 50px; }
  .main_nav--media--menu__toggle { float: right; margin-top: -10px; cursor: pointer; padding: 20px; overflow-x: hidden; }
  .main_nav--media--menu .bars { height: 4px; width: 35px; background-color: black; display: block; border-radius: 5px; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
  .main_nav--media--menu .bars.bars2, .main_nav--media--menu .bars.bars3 { margin-top: 5px; }
  .main_nav--media--menu__toggle.is_open .bars2 { -webkit-transform: translateX(200%); -ms-transform: translateX(200%); transform: translateX(200%); }
  .main_nav--media--menu__toggle.is_open .bars1 { -webkit-transform: translateY(9px) rotate(45deg); -ms-transform: translateY(9px) rotate(45deg); transform: translateY(9px) rotate(45deg); -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; }
  .main_nav--media--menu__toggle.is_open .bars3 { -webkit-transform: translateY(-9px) rotate(-45deg); -ms-transform: translateY(-9px) rotate(-45deg); transform: translateY(-9px) rotate(-45deg); -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; } }

.to-animate { position: fixed; top: 42%; left: 40%; opacity: 0; }
